.button {
    width: 100%;
    border-radius: 0.5rem;
    border: solid 2px #1DAD22;
    color: #DC0D0D;
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 0 0.5rem 0;
}