.container_navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 1rem;
}

.ul_navbar {
    list-style: none;
    width: auto;
    padding: 2rem;
}
  
.li_navbar {
    float: right;
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
  }
  
.img_logo {
    width: 300px;
    height: 150px;
}
