body {
  margin: 0;
  font-family: 'Rubik Moonrocks', cursive;
}

/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/

.container {
  display: flex;
  flex-flow: row wrap;  
  justify-content: space-around;
}
